@font-face {
    font-family: 'IranianSansBold';
    src: url('fonts/IranianSansBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IranianSans';
    src: url('fonts/IranianSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.main{
    background-position: center;
    background-size: cover;
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    width: auto;
}
.cover{
    position: fixed;
    opacity: 1;

    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.cover.black{
    background-color: rgba(0,0,0,.6);
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.logo img {
    display:block;
    margin: 50px auto;
    width: 220px;
}
.main {
    color: white;
}

/*****************
    Content part
******************/
.content {
    margin-top: 100px;
}
.products {
    margin-top: 20px;
}
h1 {
    font-family: 'IranianSans';
}
.btn{
    border-width: 2px;
    height: 60px;
    color: white;
    background-color: rgba(0,0,0,.0);
    font-weight: 400;
    padding: 8px 16px;
    font-family: 'IranianSans';
}
.btn-lg{
    border-radius: 4px;
    font-size: 18px;
    font-weight: 400;
    padding: 14px 60px;
}
.btn-default{
    color: white;
    border-color: white;
}
.btn-default:hover, .btn-default:focus, .btn-default:active{
    color: white;
    border-color: #29B163;
    background-color: #29B163;
}
