@font-face {
    font-family: 'IranianSansBold';
    src: url('fonts/IranianSansBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IranianSans';
    src: url('fonts/IranianSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.main{
    background-position: center;
    background-size: cover;
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    width: auto;
}
.dark-cover{
    background-color: rgba(0,0,0,.8);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.logo img{
    display:block;
    margin: 70px auto;
    width: 210px;
    margin-bottom: 120px;
}
.main{
    color: white;
}

/*****************
    Content part
******************/
.products {
    margin-top: 20px;
}
.motto {
    font-family: 'IranianSans';
    font-size: 35px;
    padding-bottom: 15px;
}
.btn{
    font-family: 'IranianSans';
    color: white;
    background-color: rgba(0,0,0,.0);
}
.btn-lg{
    border-radius: 4px;
    border-width: 2px;
    height: 70px;
    font-size: 25px;
}
.btn-default{
    color: white;
    border-color: white;
}
.btn-default:hover, .btn-default:focus, .btn-default:active{
    color: white;
    border-color: #29B163;
    background-color: #29B163;
}
.recurring {
    width: 48%;
    float: left;
    display: table;
}
.e-commerce {
    width: 48%;
    float: right;
    display: table;
}
.btn-txt{
    display: table-cell; vertical-align: middle;
}